<h1>Sign In</h1>

<!-- User Sign in form -->
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your Email Id" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input type="button" value="Sign In">

</form>